* {
  margin: 0;
  padding: 0;
}
h4,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: none;
}
ul {
  list-style: none;
}

button {
  padding: 10px;
  background: none;
  border: 1px solid green;
  border-radius: 2px;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    background: green;
  }
}
