@import "./utility";

$nav-bg: whitesmoke;

// Card start

.product {
  padding-top: 50px;
  @include grid();
  .card {
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0),
      0 22.3px 17.9px rgba(0, 0, 0, 0), 0 41.8px 33.4px rgba(0, 0, 0, 0),
      0 100px 80px rgba(0, 0, 0, 0);
    .product-img {
      border-radius: 5px 5px 0 0;
      width: 100%;
    }
    .content {
      padding: 10px;
    }
    &:hover {
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }
  }
}

// Card end

// Nav
header {
  background: #272626;
  border-bottom: 5px solid #ffffff;
  a {
    color: #ffffff;
  }
  nav {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    @include flex();
    justify-content: space-between;
    ul {
      @include flex();
      li {
        padding: 10px;
        .cart-img {
          width: 40px;
          position: relative;
        }
        span {
          position: absolute;
          background-color: green;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}

// cart
.carts-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  @include flex();
  justify-content: space-between;
  align-items: flex-start;
  .cart {
    display: flex;
    background: white;
    align-items: flex-start;
    border-radius: 5px;
    padding-right: 20px;
    height: 250px;
    width: 600px;
    margin-bottom: 50px;
    justify-content: flex-start;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0),
      0 100px 80px rgba(0, 0, 0, 0.12);

    img {
      border-radius: 5px 0px 0px 5px;
      height: 100%;
    }
    .content {
      margin-left: 30px;
      margin-top: 10px;

      .single-qn {
        margin: 10px 0px;
      }
    }
  }
  .total {
    background: white;
    padding: 20px;
    line-height: 1.9;
    border-radius: 5px;
    height: 210px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    h1 {
      text-align: center;
    }
    hr {
      margin: 5px 0px;
    }
  }
  .empty {
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
  }
}

.single-product {
  margin-top: 50px;
  .card {
    border-radius: 5px;
    padding: 50px;
    background: white;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0),
      0 22.3px 17.9px rgba(0, 0, 0, 0), 0 41.8px 33.4px rgba(0, 0, 0, 0),
      0 100px 80px rgba(0, 0, 0, 0);
    h1 {
      margin: 20px 0px;
    }
    .dec {
      line-height: 1.5;
      width: 70%;
      margin: 0 auto;
    }
    .price {
      margin: 20px 0px;
    }
  }
  .action-container {
    justify-content: center;
  }
  .flex {
    display: inline-block;
    .button {
      float: left;
    }
    .remove {
      margin-left: 10px;
      background: red;
      color: white;
    }
  }
}

.preloader-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  img.user-profile {
    border-radius: 50%;
    text-align: right;
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
